@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
    padding-top: 54px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
    letter-spacing: 0.5px;
}

.content-section {
    margin: auto;
    padding-top: 30px;
    /* background-color: cornflowerblue; */
    max-width: 935px;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

.newfeed-section {
    margin-right: 28px;
    max-width: 614px;
    width: 100%;
    /* background-color: crimson; */
    height: 1000px;
}

.info-section {
    position: fixed;
    top: 84px;
    /* background-color: darkgoldenrod; */
    height: 100vh;
    width: 100%;
    max-width: 293px;
    z-index: 1;
}

.onhover {
    cursor: pointer;
}