body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 500px;
    padding: 30px;
    background-color: #f5f9ff;
}

.payout {
    background-color: white;
    /* padding: 20px; */
}

.header {
    display: flex;
    justify-content: space-between;
    color: #505e6a;
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid #ececec;
}

.content {
    padding: 20px;
    border-bottom: 1px solid #ececec;
    color: #8d9da9;
}

.content-1 {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.total {
    padding: 20px;

}

.total-value {
    display: flex;
    justify-content: space-between;
}

.total-value-2 {
    font-size: 30px;
    color: #7e909e;
}

.total-value-1-1 {
    color: #7e909e;
}

.total-value-1-2 {
    color: #c2c7cb;
}

.blue-box {
    height: 70px;
    background-color: #edf7ff;
    margin:auto;
    border-radius: 5px;
    border: 1px solid #d1e6fe;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.info-title {
    margin-bottom: 5px;
    color: #9fa0a2;
}

.info-name {
   color: #53616d;
}

.amount {
   color: #208fd8;
    font-size: 20px;
}

button {
    height: 40px;
    width: 100%;
    background-color:#208fd8 ;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}
